<!doctype html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<title>Fonto</title>

    <meta name="keywords" content="fonto">
    <meta name="description" content="En liten gästbok byggd med Fonto">
    <meta name="author" content="Kenny Damgren">

	<link rel="stylesheet" href="{{ baseUrl }}web/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ baseUrl }}web/css/style.css">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="fontoContainer">
		<header>
			<h1 class="headline">{{ title }}</h1>
			{% if success %}
				<div class="alert alert-success">
				{{ success }}
				</div>
			{% endif %}
		</header>
		<section>
			<form action="{{ baseUrl }}" method="post">
				<label for="user">Vad heter du?</label>
				<input type="text" name="user" id="user" value="{{ post['user']|e }}"/>
				{% if error['user'] %}
				<span class="help-block error">{{ error['user'] }}</span>
				{% endif %}
				<label for="title">Titel</label>
				<input type="text" name="title" id="title"  value="{{ post['title']|e }}"/>
				{% if error['title'] %}
				<span class="help-block error">{{ error['title'] }}</span>
				{% endif %}
				<label for="post">Ditt inlägg</label>
				<textarea name="post" cols="40" rows="6" id="post" class="span4" >{{ post['post'] }}</textarea>
				{% if error['post'] %}
				<span class="help-block error">{{ error['post'] }}</span>
				{% endif %}
				<p><input type="submit" value="Skicka" class="btn" name="submit"/></p>
			</form>
		</section>
		<section>
			{% if posts %}
				{% for post in posts %}
				<article class="post">
					<h2 class="title">
					{{ post.title|e }}
					<span class="pull-right user">{{ post.user|e }}</span>
					</h2>
					<p>{{ post.post|e|nl2br }}</p>
				</article>
				{% endfor %}
			{% endif  %}
		</section>
	</div>
</body>
</html>